@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Informational Site</h1>
    <p>This is my informational site about something.</p>

    <ul>
        <li><a href="/References/References">References</a></li>
        <ul>
            <li><a href="/References/Books">Books</a></li>
        </ul>
    </ul>
    
    

</div>
